
ion-content{
    --background: #F7F9FB;
}
.pst{
    text-align: center;
    padding-top: 25px;
}
.ltr-title{
    font-family: 'opensansbold';
    font-size: 18px;
    color:#F7F9FB;
    background:#12143D;
    padding-top:20px;
    padding-bottom: 20px;
}