.red{
    --background: #FD2D2C;
}
.green{
    --background: #99B83C;
}

.mg{
    width: 35px;
}

ion-button.r{
    --background: #FD2D2C;
}
ion-button.g{
    --background: #99B83C;
}

.mrg{
    margin-left: 10px;
}
.ppd{
    padding-left: 265px;
    padding-top: 10px;
}

.mt{
    margin-top: 20%;
}