ion-header{
    --background: #12143D;
}

ion-content{
    --background:#12143D;
}

ion-button{
    --background:#12143D;
    width:60px;
}

.adj{
    text-align: -webkit-right;
    margin-right:10px;
}

h2{
    font-family: 'opensansbold';
    font-size: 30px;
    color: #F7F9FB;
}

.adjust{
    text-align:center;
    margin-top: 10%;
}