ion-card{ 
     --background:  #12143D;
}
.photo{
    width: 100%;
}

.bck{
    --background: #F7F9FB;
}
.pst{
    text-align: center;
    padding-top: 25px;
}
.ltr-title{
    font-family: 'opensansbold';
    font-size: 18px;
    color:#F7F9FB;
    background:#12143D;
    padding-top:20px;
    padding-bottom: 20px;
}

.ltr-color{
    color:#F7F9FB;
}

.pt{
    padding-top: 20px;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.buttonn{
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:10px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    height: 120px;
    width: 120px;
   }

.ctr{
    text-align: center;
}