<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="onLogout()">
          <ion-icon name="log-out-outline"></ion-icon>
          Logout
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="container" class="pdd">
    <div class="row pst">
      <div class="col-8">
        <h3 class="color_letter">Introduce el email del que quieras recuperar la contraseña</h3>
      </div>
      <form [formGroup]="formPassword" (ngSubmit)="submitPassword()">
        <div class="col-6 mt">
          <ion-item lines="full" class="pad bckgnd">
            <ion-label class="ffbold" position="floating">Email</ion-label>
            <ion-input class="ffregular" formControlName="email" type="text"></ion-input>
          </ion-item>
        </div>
        <div class="col-9">
          <ion-button class="bot">Recuperar contraseña</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
