#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 25%;
    transform: translateY(-50%);
  }
  
  ion-content{
    --background: #12143D;
  }

  .ppd{
    padding-top:50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .color_letter{
      color:#F7F9FB;
  }

  .mt{
      margin-top: 75px;
  }
  
  .ffbold{
    font-family: 'opensansbold';
    font-size: 18px;
    color:black;
  }
  
  .ffregular{
    font-family: 'opensans';
    font-size: 16px;
    color:black;
  }