<ion-content>
  <div id="container" class="pdd">
    <div class="row pst">
      <div class="col-8">
        <h3 class="color_letter">Introduce el email del que quieras recuperar la contraseña</h3>
      </div>
      <form [formGroup]="formPassword" class="bckgnd" (ngSubmit)="submitPassword()">
        <div class="col-6 mt bckgnd">
          <ion-item lines="full" class="pad">
            <ion-label class="ffbold bckgnd" position="floating">Email</ion-label>
            <ion-input class="ffregular bckgnd" formControlName="email" type="text"></ion-input>
          </ion-item>
        </div>
        <div class="col-9">
          <ion-button class="bot">Recuperar contraseña</ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
